ul {
  list-style-type: none;
  padding: 0;
}

p{
  display: inline-block;
  font-size: medium;
  padding: 0.7em;
  border-radius: 4px;
  color: #2c3a41;
  background-color: #e6e6e6;
  cursor: pointer;
}

p:hover {
  color: white;
  background-color:#405061;
}

button {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;

}

button:hover{
  background-color: #e6e6e6;
}

