<input id="createInputName" placeholder="Name" [(ngModel)]="employeeToCreate.name">
<input id="createInputRole" placeholder="Role" [(ngModel)]="employeeToCreate.role">
<button id="createButton" (click)="onCreate()">Create</button>
<ul>
  <li *ngFor="let employee of employees" (click)="onSelect(employee)" [class.selected]="employee === selectedEmployee">
    <p>Name: {{employee.name}}</p>
    <p>Role: {{employee.role}}</p>
    <button (click)="onDelete(employee)">Delete</button>
  </li>
</ul>


<app-employee-detail [employee]="selectedEmployee" (closeOutput)="onSelect(undefined)"></app-employee-detail>

