/* You can add global styles to this file, and also import other style files */
button {
  background-color: white;
  border-radius: 0.5em;

}

button:hover{
  background-color: #e6e6e6;
}

*{
  text-align: center;
}
